.landing-page__title {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.landing-page__skils {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	width: 400px;
	height: 400px;
}

.landing-page__skil-each {
	position: absolute;
	width: 80px;
	height: 80px;

	&.html5 {
		top: 10px;
		left: 50%;
		margin-left: -40px;
	}

	&.css3 {
		bottom: 10px;
		left: 50%;
		margin-left: -40px;
	}

	&.js {
		top: 25%;
		left: 60px;
		margin-top: -40px;
	}

	&.node {
		top: 50%;
		left: 10px;
		margin-top: -40px;
	}

	&.mongo {
		top: 75%;
		left: 60px;
		margin-top: -40px;
	}

	&.scss {
		top: 25%;
		right: 60px;
		margin-top: -40px;
	}

	&.vue {
		top: 50%;
		right: 10px;
		margin-top: -40px;
	}

	&.webpack {
		top: 75%;
		right: 60px;
		margin-top: -40px;
	}
}
